html,
body {
  background: rgba(253, 80, 84, 1);
  padding: 0;
  margin: 0;
}
.user img {
  width: calc(48rem / 16);
  height: calc(48rem / 16);
  border-radius: 50%;
}
.user {
  font-size: calc(14rem / 16);
  font-family: PingFang SC Regular;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  margin-top: calc(30rem / 16);
}
.user > div {
  margin-left: calc(13rem / 16);
}
.font img {
  margin: 3rem 1rem 1rem 1rem;
}
.people {
  font-size: calc(19rem / 16);
  text-align: center;
  font-family: PingFang SC Regular;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}
.foot img {
  width: calc(68rem / 16);
  height: calc(68rem / 16);
}
.foot {
  font-size: calc(19rem / 16);
  font-family: PingFang SC Regular;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: calc(22rem / 16);
  left: 0;
  right: 0;
}
.foot > div:nth-child(2) {
  width: calc(219rem / 16);
}
