.item {
  width: 95%;
  height: calc(226rem / 16);
  background: rgba(255, 255, 255, 1);
  border-radius: 4px 4px 4px 4px;
}
html,
body {
  background: #f2f2f2 !important;
  padding: 0 !important;
}
.box {
  display: flex;
  justify-content: center;
}
.headImg img {
  width: calc(32rem / 16);
  height: calc(32rem / 16);
  border-radius: 50%;
}
.name {
  font-size: calc(16rem / 16);
  font-family: PingFang SC Bold;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
}
.time {
  font-size: calc(12rem / 16);
  font-family: PingFang SC Regular;
  font-weight: 400;
  color: rgba(102, 102, 102, 1);
}
.h1 {
  display: flex;
  align-items: center;
}
.h1 > div {
  margin-left: calc(9rem / 16);
  margin-top: calc(16rem / 16);
}
.img {
  width: 35%;
  height: calc(90rem / 16);
  background: rgba(198, 198, 198, 1);
  border-radius: 4px;
}
.content1 {
  font-size: calc(16rem / 16);
  font-family: PingFang SC Regular;
  font-weight: 400;
  color: rgba(102, 102, 102, 1);
  line-height: calc(21rem / 16);
  word-wrap: wrap;
  width: 55%;
}
.h2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: calc(16rem / 16);
}
.line {
  width: calc(352rem / 16);
  height: 1px;
  border: 1px solid rgba(245, 245, 245, 1);
  margin-top: calc(12rem / 16);
}
.util1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 2rem;
  height: calc(52rem / 16);
  font-size: calc(12rem / 16);
  font-family: PingFang SC Regular;
  font-weight: 400;
  color: rgba(102, 102, 102, 1);
}
.util1 > div:nth-child(2) img {
  position: relative;
  top: 0.3rem;
  left: -0.3rem;
}
.util1 > div:nth-child(1) img {
  position: relative;
  top: 0.2rem;
  left: -0.3rem;
}
.util {
  width: calc(168rem / 16);
  height: calc(50rem / 16);
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.16);
  border-radius: 25px;
  display: flex;
  line-height: calc(60rem / 16);
  justify-content: space-around;
}
.util img {
  width: calc(19rem / 16);
  height: calc(19rem / 16);
}
.foot {
  display: flex;
  justify-content: center;
  margin-top: calc(40rem / 16);
  position: fixed;
  bottom: calc(35rem / 16);
  left: 0;
  right: 0;
}
